@font-face{
	font-family: mycontentfont;
	src: url("../font/Oswald-Regular.ttf");
}

@font-face{   
    font-family: myheaderfont;   
    src: url("../font/Migra-Extrabold.eot");    
    src: url("../font/Migra-Extrabold.otf") format("opentype"),        
        url("../font/Migra-Extrabold.ttf") format("truetype"),
        url("../font/Migra-Extrabold.woff") format("woff"),
        url("../font/Migra-Extrabold.woff2") format("woff2");
} 


@font-face{
	font-family: myitalicfont;
	src: url("../font/Quicksand_Book_Oblique.otf");
}

body {
    margin: 0;
    padding: 0;
    background-color: #eac08c;
    cursor: url('../img/cursor.png'), auto;
} 

h1, h2, h3, h4 {
    color: #9A3227;
    font-family: myheaderfont;
}

p {
    color: black;
    font-family: mycontentfont;
}

a {
    color:#9A3227;
    font-weight: bold;
    text-decoration: none;
    cursor: url('../img/pointer.png'), pointer;
}

nav {
    background-color: #eac08c;
    margin: 0;
    padding: 0;
    width: 100%;
}

#nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px; /* Center the nav-bar content */
    margin: 0 auto;
    padding: 0.5em 1em;
}

#logo {
    display: flex;
    align-items: center;
    gap: 5px; /* Space between image and text */
}

#logo a{
    display: flex;
}

#logo img {
    height: 30px;
    margin-right: .3em;
}

#logo h3 {
    margin: 0;
    font-size: .8em;
}

nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    font-family: myheaderfont;
}

nav ul a{
    text-decoration: none;
    color: #9A3227;
    padding: .5em;
}

nav UL a:hover {
    color: #eac08c;
    -webkit-text-stroke: 1px #9A3227;
    transition: .5s;
}

.pageheader {
    font-size: 5em;
    text-align: center;
    padding: 0;
    margin: 0;
}

.pagedesc{
    text-align: center;
    font-family: myheaderfont;
    font-size: 1.5em;
    margin: 0.5em 3em .5em 3em;
    padding: 0;
}

footer{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#footer {
    display: flex;
    padding: 0;
    margin: 0;
}

#footer h3 {
    font-size: 4em;
    margin: 1.5em .5em 1.5em 1.5em;
    text-align: right;
}

#ftcontent {
    display: flex;
    flex-direction: column;
    padding: 2em 0 0 20em;
}

#footer .fa-regular {
    font-size: 8em;
    color: #9A3227;
    margin-top: .8em;
}

#ftcontent p {
    line-height: 2em;
}

#ftcontent strong{
    font-size: 1.5em;
    font-family: myheaderfont;
}

#ftcontent a {
    color: #9A3227;
    padding-right: .5em;
    padding-top: 10em;
    font-size: 2em;
    justify-content: center;
}

#ftcontent a:hover{
    color: #eac08c;
    -webkit-text-stroke: 1.5px #9A3227;
    transition: .5s;
}

#copyright {
    text-align: center;
}