body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}

#welcome {
    display: flex;
    background-color: #eac08c;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 45em;
}


#welcome h1 {
    margin: 0;
    font-size: 5em;
    text-align: center;
}

#intro-text {
    -webkit-text-stroke: 2px #9A3227;
    color: #eac08c  /* Color for "Welcome To My" */
}

#portfolio-text {
    color: #ff6347; /* Color for "Portfolio" */
}
    display: inline-block;
    padding: 0.8em 1.5em;
    background-color: #9A3227; 
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9em;
}

#indexproj{
    flex: 0;
}