body {
    font-family: Arial, sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

section{
    background-color: #9A3227;
    margin: 0px;
    padding-top: 20px;
}

.collection {
    margin-bottom: 10em;
}

.line-text {
    text-align: center;
    border-bottom: 2px solid #eac08c;
    line-height: 0em;
    margin: 50px; /* Adds vertical spacing */
}

.line-text span {
    background: #9A3227; /*cover the line*/
    padding: 0 10px; /* Adds padding around the text */
    color: #eac08c; /* Text color */
    font-family: myheaderfont;
    font-size: 2em;
}

.gallery {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.gallery div {
    margin: 0px 10px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 0;
}

.gallery img {
    width: 100%;
    height: auto;
}

